{% extends 'base.html' %}

{% block title %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
  <div class="book-detail-container">

    <img src="{{book.thumbnail.url}}" alt="{{book.title}}">

    <div class="book-detail-content">
      <h2>{{book.title}}</h2><br>
      <h3>{{book.price}} €</h3><br>
      {% if user.is_authenticated %}
        <a href = "{% url 'shop:add_to_cart' book.slug %}">Ajouter dans le panier</a><br>
      {% endif %}
      <p>{{book.description|linebreaks|safe}}</p>
    </div>

  </div>
{% endblock %}